@import 'variables';

h1 {
  color: $red-color;
}

footer {
  color: green;
}

.card-item {
  margin-top: 34px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}

.checkbox-select-all-option {
  width: 160px;
  margin: 0 16px;
}