<div class="mt-4">
    <form method="get" action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Full name</label>
            <input type="text" name="fullname" class="form-control" id="exampleInputEmail1">
            <label for="exampleInputEmail1">Age</label>
            <input type="text" name="age" class="form-control" id="exampleInputEmail1">
            <label for="exampleInputEmail1">Topic</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>